{% load static %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static '/post/images/favicon.png' %}">
    <title>HomePage</title>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900&amp;display=swap" rel="stylesheet">
    <!-- end font -->

    <link rel="stylesheet" href="{% static '/post/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/post/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static '/post/css/fakeLoader.css' %}">
    <link rel="stylesheet" href="{% static '/post/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static '/post/css/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static '/post/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '/post/css/style.css' %}">
