
{% load static %}
<script src="{% static '/post/js/jquery.min.js' %}"></script>
    <script src="{% static '/post/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/post/js/fakeLoader.min.js' %}"></script>
    <script src="{% static '/post/js/owl.carousel.min.js' %}"></script>
    <script src="{% static '/post/js/jquery.filterizr.min.js' %}"></script>
    <script src="{% static '/post/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static '/post/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static '/post/js/contact-form.js' %}"></script>
    <script src="{% static '/post/js/main.js' %}"></script>